.ui-toggle {
	padding: 15px 25px;
	color: #2eb929;
	cursor: pointer;
	border: solid 1px #2eb929;
	font-size: 16px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: color 0.3s ease;
}

.ui-toggle:before,
.ui-toggle:after {
	position: absolute;
	content: '';
	background-color: #2eb929;
	width: 50%;
	top: 0;
	height: 100%;
	transition: transform 0.3s ease;
	z-index: -1;
}

.ui-toggle:before {
	left: 0;
	transform: translateX(-100%);
}

.ui-toggle:after {
	right: 0;
	transform: translateX(100%);
}

.ui-toggle.is-active {
	color: #fff;
}

.ui-toggle.is-active:before,
.ui-toggle.is-active:after {
	transform: translateX(0);
}
